/CERTH/api/target/
/CERTH/kristina-project/api/target/
/CERTH/kristina-project/ir-mapper/target/
/CERTH/kristina-project/helpers/target/
/CERTH/kristina-project/core/target/
/CERTH/kristina-project/sparql-functions/target/
/CERTH/kristina-project/demo-service/target/